name: CI

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

jobs:
  build:
    strategy:
      matrix:
        node-version: [20.x]
        os: [ubuntu-latest, windows-latest]
    runs-on: ${{ matrix.os }}
    env:
      CI: true
      LINT: ${{ matrix.os == 'ubuntu-latest' && true || false }}

    steps:
      - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v4
        with:
          node-version: ${{ matrix.node-version }}

      # https://github.com/yarnpkg/yarn/issues/4890
      - run: yarn install --frozen-lockfile
        if: matrix.os == 'ubuntu-latest'
      - run: yarn install --frozen-lockfile --network-timeout 100000
        if: matrix.os == 'windows-latest'

      - run: yarn build
      - run: yarn test
      - run: yarn lint
        if: env.LINT == 'true'
